{% macro render_header_link(view, sort_by, header_name, sorted_fields, max_sorted_fields=2) %}
  <th{{ " " }}
  {%- for sorted_field in sorted_fields -%}
    {%- if sorted_field|first == '-' and sort_by == sorted_field[1:] -%}
      class="table-sort-desc"
    {%- else -%}
      {%- if sorted_field == sort_by -%}
        class="table-sort-asc"
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  >
    <a href="{{ header_sort_url(view, sort_by, sorted_fields, max_sorted_fields, **kwargs) }}">{{ header_name }}</a>
  </th>
{% endmacro %}


{% macro render_pagination(view, current_page, pages) %}
  {% if pages > 1 %}
  <div class="pagination pagination-centered">
    <ul>
      {% if current_page > 1 %}
        <li><a href="{{ qp_url_for(view, page=current_page - 1, **kwargs) }}">←</a></li>
      {% else %}
        <li class="disabled"><a>←</a></li>
      {% endif %}

      {% for page in visible_page_numbers(current_page, pages) %}
          {% if page == current_page %}
            <li class="active"><a>{{ page }}</a></li>
          {% elif page == '...' %}
            <li class="disabled"><a>...</a></li>
          {% else %}
            <li><a href="{{ qp_url_for(view, page=page, **kwargs) }}">{{ page }}</a></li>
          {% endif %}
      {% endfor %}

      {% if current_page < pages %}
        <li><a href="{{ qp_url_for(view, page=current_page + 1, **kwargs) }}">→</a></li>
      {% else %}
        <li class="disabled"><a>→</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
{% endmacro %}
